html {
  background: rgba(255, 227, 224, 1);
}

body {
  color: #121212;
  font-family: 'Old Standard TT', verdana;
  font-size: 24px;
  line-height: 1.3em;
}

p {
  letter-spacing: 0.043em;
  z-index: 100;
}

p.info {
  letter-spacing: 0.043em;
}

wrapper {
  margin: 0.33em 0 0 0.33em;
  width: auto;
  z-index: 100;
}

a {
  color: #131313;
  text-decoration: none;
  transition: all 0.66s linear;
}

a:visited {
  color: #131313;
}

a:hover {
  color: #c3c3c3;
  letter-spacing: 0.23em;
  }

.logo {
    position: absolute;
    right: 1em;
    top: 1em;
    max-width: 33%;
    z-index: 0;
}

#to,#subject,#content {
  font-family: "Segoe UI";
  font-size:18px;
  width:530px;
}

h1 {
  font-family: "Segoe UI";
  font-size:40px;
  color: #3b5998;
}

#send_email {
  font-size:15px;
  font-family: "Segoe UI";
}

#message {
  font-size:18px;
}
